<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Books</title>
</head>

<body>
	<section class="text-center">
		<div class="container">
			<br>
			<h1>Books</h1>
		</div>
	</section>
	<p>
		<a href="/" class="btn btn-outline-primary">Homepage</a> <a
			href="/book-create" class="btn btn-outline-primary">Create book</a>
			<a
			href="/book-search" class="btn btn-outline-primary">Search book</a>
	</p>
	<div th:switch="${books}">
		<h2 th:case="null">No books found!</h2>
		<div th:case="*">

			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Genre</th>
						<th>Author</th>
						<th>Year</th>
						<th>Publisher</th>
						<th>Annotation</th>
						<th>Count</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="book : ${books}">
						<td th:text="${book.id}"></td>
						<td th:text="${book.title}"></td>
						<td th:each="genre : ${book.genres}" th:text="${genre.name}"></td>
						<td th:each="author : ${book.authors}" th:text="${author.lastName}"></td>
						<td th:text="${book.year}"></td>
						<td th:text="${book.publisher}"></td>
						<td th:text="${book.annotation}"></td>
						<td th:text="${book.count}"></td>
						<td><a th:href="@{book-update/{id}(id=${book.id})}">Edit</a></td>
						<td><a th:href="@{book-delete/{id}(id=${book.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer class="container">
		<p class="float-right">
			<a href="/books">Back to top</a>
		</p>
		<p>© 2020 Library project</p>
	</footer>
</body>
</html>