<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Issue new book</title>
</head>
<body>
<form action="#" th:action="@{/customer-issue}" th:object="${issueBook}" method="post">
    <input type="hidden" th:field="*{id}" id="id">
    <br/>
    <label for="customerId">Customer Id</label>
    <input type="text" th:field="*{customerId}" id="customer" placeholder="Customer Id">
    <br/>
    <label for="bookId">Book Id</label>
    <input type="text" th:field="*{bookId}" id="book" placeholder="Book Id">
    <br/>
    <label for="issueDate">Date of issue</label>
    <input type="date" th:field="*{issueDate}" id="issueDate" placeholder="Date of issue">
    <br/>
    <label for="expectedReturnDate">Date of return</label>
    <input type="date" th:field="*{expectedReturnDate}" id="expectedReturnDate" placeholder="Date of return">
    <br/>
    <input type="submit" value="Issue new Book">
</form>
</body>
</html>