	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div th:switch="${customers}">
    <h2 th:case="null">No customers found!</h2>
    <div th:case="*">
        <h2>Customers</h2>
        <p><a href="/customer-add">Add new customer</a></p>
         <p><a href="/customer-issue">Issue new book</a></p>
         <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>E-mail</th>
                <th>Total fine</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.dob}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.totalFine}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

