<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<title>Library</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<style>
html {
	background:
		url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=841&q=80')
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000;
}

body {
	padding-top: 60px;
	background: transparent;
	font-size: 1.6em;
}
</style>

</head>

<body>
	<div class='container'>
		<div class='jumbotron text-center'>
			<h1>Library</h1>
			<p class="lead text-muted">LMS is a software application useful
				for librarians in any educational institution for management and
				handling of typical operations in the library. It manages data
				through computerized system in a database which eradicates the
				tediousness in searching a particular book in the entire library.</p>
			<p>
				<a href="/books" class="btn btn-outline-primary">Manage books</a> <a
					href="/customers" class="btn btn-outline-primary">Manage
					customers</a>
			</p>
		</div>
	</div>
	<footer class="container">
		<p class="text-white">© 2020 Library project</p>
	</footer>
</body>
</html>