<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Issued books</title>
    <style>
	td {text-align: center;}
</style>
</head>
<body>
<div th:switch="${issues}">
    <h2 th:case="null">No issued books found!</h2>
    <div th:case="*">
    

        <h2>Issued books</h2>
        <p><a href="/book-issue-list">Issue new book</a></p>
        
 </div>&nbsp;<div>  
     
 <div>
	<form th:action= "@{issues}">
		Filter by last name: 
		<input type="text" name="searchName" th:value="${searchName}" required/>
		&nbsp;
		<input type="submit" value="Find issue" />
		&nbsp;
		<input type="button" value="Clear" onclick="clearFilter()"/>
	</form>	
</div>  

</div>&nbsp;<div>
    
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Customer id</th>
                <th>Book id</th>
                <th>Date of issue</th>
                <th>Date of return</th>
                <th>Returned on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="issueBook : ${issues}">
                <td th:text="${issueBook.id}"></td>
                <td th:text="${issueBook.customer.firstName}"></td>
                <td th:text="${issueBook.customer.lastName}"></td>
                <td th:text="${issueBook.customer.id}"></td>
                <td th:text="${issueBook.book.title}"></td>
                <td th:text="${issueBook.issueDate}"></td>
                <td th:text="${issueBook.expectedReturnDate}"></td>
                <td th:text="${issueBook.actualReturnDate}"></td>
                <td><a th:href="@{customer-return/{id}(id=${issueBook.id})}">Select</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type= "text/javascript">
	function clearFilter() {
	window.location = '/issues';
	}
</script>
</body>
</html>